<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'calendar_specific' %}">Club House</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEvents" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'add-event' %}">Add Event</a></li>
            {% endif %}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVenues" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Venues
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'venues' %}">Venues</a></li>
            {% if user.is_authenticated %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'add-venue' %}">Add Venue</a></li>
            {% endif %}
          </ul>
        </li>


          <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDownload" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Download venues
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'venue-txt-dwnld' %}">As text file</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'venue-csv-dwnld' %}">As csv file</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'venue-pdf-dwnld' %}">As pdf file</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register-user' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}



      </ul>
      <form class="d-flex" method="POST" action="{% url 'search-venue' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search for venues"
               aria-label="Search" name="searcher">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>