{% extends 'base/base.html' %}

{% block content %}
    <style>
        p { text-align: right; }
    </style>
    <h1>Login</h1><br/>
    <h5>Still don`t have an account? Fix it <a href="http://127.0.0.1:8000/members/register/">here</a>!</h5>
    <br/>
    <br/>
    <form action="" method="POST">
        {% csrf_token %}

  <div class="mb-3">
    <label for="InputName" class="form-label">Enter your username: </label>
    <input type="text" class="form-control" id="InputName" name="Username">
  </div>
<!--  <div class="mb-3">-->
<!--    <label for="InputEmail" class="form-label"> Enter your email address: </label>-->
<!--    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">-->
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--  </div>-->
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Enter your password: </label>
    <input type="password" class="form-control" id="InputPassword" name="Password">
  </div>
<!--  <div class="mb-3">-->
<!--    <label for="InputPhone" class="form-label">Enter your phone number: </label>-->
<!--    <input type="password" class="form-control" id="InputPhone">-->
<!--  </div>-->
<!--  <div class="mb-3 form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
    <hr><br/><br/>