{% extends 'base/base.html' %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-warning" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
        <use xlink:href="#exclamation-triangle-fill"/>
      </svg>
      There is an error with your form.
    </div>
  {% endif %}

  <h1>Register</h1>
  <h5>Already have an account? Click <a href="http://127.0.0.1:8000/members/register/">here</a>!</h5>
  <br/>

  <form action="{% url 'register-user' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br/><br/>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br/><br/>
  </form>
{% endblock %}
<hr><br/><br/>